ul{
    list-style-type:none;
    background-color: bisque;
    overflow: hidden;
}
li{
   border-left: 2px solid bisque ;
   border-right: 2px solid bisque;
   float:left;
   display: inline;
}
a{
    display: block;
    padding: 14px 16px;
    color: black;
}
a:hover{
    background-color: violet;
    color: skyblue;
}
li:last-child{
    float:right;
}  
p{
  color: blueviolet;
}
body{
   margin:auto;
   background-image: linear-gradient(pink,lime); 
}
h1{
    background-color: aquamarine;
    color: blueviolet;
}
hr{
    border: 100px dotted pink
}
#mycow{
    text-decoration: overline;
}
#site4ek{
    border-style: solid;
    margin-bottom: 10px;
}
#nawbnar4k{
    list-style-type: none;
    background-color: antiquewhite;
    overflow: hidden;
}
#nawbnar4k li{
    display: inline;
    float : left;
}
#nawbnar4k li a{
    display: none;
    text-decoration: none;
    padding: 14px 16px;
    color:aquamarine;
}
#nawbnar4k li:last-child{
    float : right;
}  


.dropdown-list {
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    min-width: 160px;
}
.listmenu{
    display: inline-block;
}


.listmenu:hover .dropdown-list{
    display:block;
}