ul{
    list-style-type:none;
    background-color: bisque;
    overflow: hidden;
}
li{
   border-left: 2px solid bisque ;
   border-right: 2px solid bisque;
   float:left;
   display: inline;
}
a{
    display: block;
    padding: 14px 16px;
    color: black;
}
a:hover{
    background-color: violet;
    color: skyblue;
}
li:last-child{
    float:right;
}  
p{
  color: blueviolet;
}
body{
   margin:auto;
   background-image: linear-gradient(pink,lime); 
}
h1{
    background-color: aquamarine;
    color: blueviolet;
}
hr{
    border: 100px dotted pink
}
#mycow{
    text-decoration: overline;
}
#site4ek{
    border-style: solid;
    margin-bottom: 10px;
}
