ul{
    list-style-type:none;
    background-color: bisque;
    overflow: hidden;
}
li{
   border-left: 2px solid bisque ;
   border-right: 2px solid bisque;
   float:left;
   display: inline;
}
a{
    background-color: red;
    display: block;
    padding: 14px 16px;
    color: white;
}
a:hover{
    background-color: black;
    color: skyblue;
}
li:last-child{
    float:right;
}    
body{
    margin:auto;
    background-image:linear-gradient(rgba(255, 129, 150, 0.288),rgba(7, 255, 7, 0.322));
}
h1{
    color: red;
}
#foto{
    height: 250px;
    width: 150px;
}